<div ng-controller="BRM.AuthorsController" id="authors-main">
    <div class="main-authors" ng-cloak>
        <article class="hero-unit" ng-class="{undisplayed: RandomAuthor == null}" ng-include="Authors.RandomAuthor"></article>

        <div id="recent-authors" ng-class="{undisplayed: FullAuthor != null}">
            <div class="row-fluid">
                <div class="span12 recent-authors-navigation">
                    <div>[navigation]</div>
                    <div>
                        <span>Genre:</span><select ng-model="CurrentGenre" ng-options="g.OriginalId as g.Name for g in Genres"></select>
                    </div>  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 recent" ng-repeat="author in RecentAuthors.slice(0, 3)" ng-include="Authors.RecentAuthor"></div>
            </div>
            <div class="row-fluid">
                <div class="span4 recent" ng-repeat="author in RecentAuthors.slice(3, 6)" ng-include="Authors.RecentAuthor"></div>
            </div>
        </div>
        <div ng-class="{undisplayed: FullAuthor == null}" ng-include="Authors.FullAuthor"></div>
    </div>
</div>