<div ng-controller="BRM.AboutController" id="about-main">
    <div class="main-about hero-unit">
		<h2>About Joel's Book Reviews</h2>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis sem et tellus adipiscing convallis blandit adipiscing mauris. Nulla magna arcu, 
			mattis et mattis nec, convallis at purus. Morbi viverra vel risus vitae lobortis. Sed commodo, libero sit amet pretium luctus, sapien erat sodales 
			purus, in suscipit sapien arcu vel justo. Sed dignissim massa tellus, in placerat massa bibendum et. Vestibulum eget est eros.
		</div>

		<div>
			Phasellus adipiscing, sem eu tincidunt viverra, odio mi scelerisque ligula, ac fringilla nisl erat id lacus. Nunc molestie placerat mi eget 
			aliquet. Etiam ultrices, massa ac viverra congue, diam nunc commodo neque, quis tincidunt est odio eget erat. Nulla consectetur et tellus quis 
			hendrerit. Morbi sit amet magna quis dolor tristique porttitor non vitae arcu. Vestibulum orci diam, pulvinar eu velit quis, dapibus blandit dolor. 
			Phasellus sed enim sed nisl faucibus cursus et adipiscing neque. Sed faucibus varius nulla scelerisque venenatis. Suspendisse sagittis risus ac nisi 
			interdum fermentum. Vestibulum sit amet aliquam tortor, in blandit elit. Integer sagittis ante purus, non ultricies ligula tincidunt nec. Aenean ut odio 
			massa. Ut elementum ipsum sed nisi convallis, id molestie ligula posuere.
		</div>
		
		<div>
			Vestibulum porta aliquam augue eu aliquam. Quisque in tincidunt enim. Mauris et felis non enim dignissim sodales. Nullam eget arcu pellentesque, scelerisque 
			elit eget, faucibus libero. Aenean id placerat orci, semper pulvinar libero:
			<div><a href="#" ng-click="SwitchSection('reviews')">Read Reviews</a></div>
		    <div><a href="#" ng-click="SwitchSection('authors')">See Authors</a></div>
		    <div><a href="#" ng-click="SwitchSection('contact')">Contact Joel</a></div>
		</div>
	</div>
</div>