<div class="span3" id="side-content">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Switch Content View</li>
            <li ng-class="{active: Section === 'reviews'}">
                <a href="#" ng-click="SwitchSection('reviews')">By Review</a>
            </li>
            <li ng-class="{active: Section === 'authors'}">
                <a href="#" ng-click="SwitchSection('authors')">By Author</a>
            </li>
        </ul>
    </div><!--/.well -->
    <div ng-controller="BRM.TwitterController">
        <section ng-repeat="tweet in Tweets.slice(0, 3)">
            <article class="tweet">
                <section>
                    <a href="https://twitter.com/{{tweet.ScreenName}}" target="_blank">
                        <img ng-src="{{tweet.ProfileImageUrl}}" alt="{{tweet.Name}}" title="{{tweet.Name}}"/>
                    </a>
                </section>
                <section>
                    <div>
                        <span class="name">{{ tweet.ScreenName + ":" }}</span>
						<span class="text" ng-bind-html-unsafe="tweet.Text"></span>
                    </div>
                    <div class="details">
                        <span class="date">{{ parseDateTime(tweet.CreatedAt) }}</span>
                    </div>
                </section>
            </article>
        </section>
    </div>
</div><!--/span-->